@model ProductView





<h1>Edit</h1>

<form method="post">
    <div class="row">
        <div asp-validation-summary="All"></div>
        <div class="col">
            <input asp-for="Product.Title" type="text" class="form-control" placeholder="Category name">
            <span asp-validation-for="Product.Title" class="text-danger"></span>
        </div>
        <div class="col">
            <input asp-for="Product.Description" type="text" class="form-control" placeholder="Display order">
            <span asp-validation-for="Product.Description" class="text-danger"></span>
        </div>
        <div class="col">
            <input asp-for="Product.Author" type="text" class="form-control" placeholder="Display order">
            <span asp-validation-for="Product.Author" class="text-danger"></span>
        </div>
        <div class="col">
            <input asp-for="Product.ISBN" type="text" class="form-control" placeholder="Display order">
            <span asp-validation-for="Product.ISBN" class="text-danger"></span>
        </div>
        <div class="col">
            <input asp-for="Product.Price" type="text" class="form-control" placeholder="Display order">
            <span asp-validation-for="Product.Price" class="text-danger"></span>
        </div>
        <div class="col">
            <input asp-for="Product.Price50" type="text" class="form-control" placeholder="Display order">
            <span asp-validation-for="Product.Price50" class="text-danger"></span>
        </div>
        <div class="col">
            <input asp-for="Product.Price100" type="text" class="form-control" placeholder="Display order">
            <span asp-validation-for="Product.Price100" class="text-danger"></span>
        </div>
    </div>
    @* <h1>@Model.Product.ImageUrl</h1> *@
    <img src="@Model.Product.ImageUrl" height="50px" width="50px" />
    <button type="submit" class="btn btn-primary pt-10">Edit</button>
    <a asp-controller="Product" asp-action="Index">Back to List</a>
</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial"></partial>


    }
}